{% extends '::base.html.twig' %}

{% block title %}
    Edit task details
{% endblock %}

{% block body %}
    <div class="row">
        <h1>Task edit</h1>
    </div>
    <div class="form-group">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="d-flex flex-row">
            <div class="p-2 text-center">
                <button class="btn btn-success" type="submit">Confirm edit</button>
                {{ form_end(edit_form) }}
            </div>
            <div class="p-2 text-center">
                {{ form_start(delete_form) }}
                    <button class="btn btn-danger" type="submit">Delete</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}


