{% extends '::base.html.twig' %}

{% block body %}
    {% for task in tasks %}
        <div class="card">
            <div class="card-header">

                <h4 class="card-title"><a href="{{ path('show_task', { 'id': task.id }) }}"> {{ task.title }}</a></h4>
            </div>
            <div class="card-body">
                <p class="card-text"> {{ task.description }}</p>
                <p class="card-text"><small class="text-muted"> Due date: {{ task.dueDate|date('Y-m-d') }} - </small>
                {% if task.done == 1 %}
                    <span class="badge badge-success">{{ 'DONE' }}</span>
                {% else %}
                    <span class="badge badge-warning">{{ 'TO DO' }}</span>
                {% endif %}
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-success">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <hr>
    {% else %}
        <div class="alert alert-primary" role="alert">
            <p>There are no tasks set!</p>
            <p>You are very happy, or very lazy man!</p>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

